<h1>New Tweet</h1>

<% if flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>

<% @tweet.errors.messages do |m| %>
	<li><%= m %></li>
<% end %>

<%= form_for [@user, @tweet] do |f| %>
	<%= f.text_field :body, value: @tweet.body, placeholder: "Tweet here!" %>
	<%= f.submit "Tweet" %>
<% end %>