<h1>New Tweet</h1>

<% if flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>

<% @tweet.errors.messages do |m| %>
	<li><%= m %></li>
<% end %>

<div class="new-tweet-form">
	<%= form_for [@user, @tweet] do |f| %>
		<%= f.text_area :body, value: @tweet.body, size: "30x10", required: true %>
		<%= f.submit "Tweet" %>
	<% end %>
</div>