<h1>Sign Up</h1>

<p class="notice"><%= flash[:notice] %></p>

<%= form_for @user, url: {action: "create"} do |f| %>
	<%= f.text_field :username, placeholder: "Username" %>
	<%= f.email_field :email, placeholder: "Email" %>
	<%= f.password_field :password, placeholder: "Password"%>
	<%= f.password_field :password_confirmation, placeholder: "Confirm Password"%>
	<%= f.submit "Submit" %>
<% end %>