<% if flash[:notice] || flash[:alert]  %>
	<p class="notice"><%= flash[:notice] %></p>
	<p class="notice"><%= flash[:alert] %></p>	
<% end %>

<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<% if current_user.followings.include?(User.find(params[:id])) %>
	<%= link_to "Unfollow", follow_path((params[:id])), :method => :delete %>
<% elsif @user.id != current_user.id %>
	<%= link_to "Follow", follows_path(:following_id => params[:id]), :method => :post %>
<% end %>

<% if @user.id == current_user.id %>
	<%= link_to "Create Tweet", new_user_tweet_path(@user) %>
<% end %>

<h3>Following</h3>

<% for f in @user.followings %>
	<li><%= link_to f.username, user_path(f) %></li>
	<br>
<% end %>

<% if @user.tweets.any? %>
	<h3>Tweets</h3>

	<% @user.tweets.each do |tweet| %>
	<li><%= tweet.created_at.strftime("%m/%d/%Y") %></li>
	<li><%= tweet.body %></li>
	<br>
	<% end %>
<% else %>
	<h3>No Tweets</h3>
<% end %>