<% if flash[:notice] || flash[:alert]  %>
	<p><%= flash[:notice] %></p>
	<p><%= flash[:alert] %></p>	
<% end %>

<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<% if @user.id == current_user.id %>
	<%= link_to "Create Tweet", new_user_tweet_path(@user) %>
<% end %>

<% if @user.tweets.any? %>
	<h3>Your Tweets</h3>

	<% @user.tweets.each do |tweet| %>
	<li><%= tweet.created_at.strftime("%m/%d/%Y") %></li>
	<li><%= tweet.body %></li>
	<br>
	<% end %>
<% else %>
	<h3>No Tweets</h3>
<% end %>


