<!DOCTYPE html>
<html>
<head>
  <title>Tweetito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-nav">
		<% if logged_in? %>
			<%= link_to "Tweetito", tweets_main_path %>
			<div class="right">
				<%= link_to current_user.username, user_path(current_user) %>
				<%= link_to	"Log Out", log_out_path %>
			</div>
		<% else %>
			<%= link_to "Tweetito", root_path %>
		<% end %>
	</div>
	
	<div class="main">
		<%= yield %>
	</div>

</body>
</html>
