<!DOCTYPE html>
<html>
<head>
  <title>tweetito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-nav">
		<% if logged_in? %>
			<%= link_to "tweetito", tweets_main_path %>
			<div class="right">
				<%= link_to current_user.username, user_path(current_user) %>
				<%= link_to	"log out", log_out_path %>
			</div>
		<% else %>
			<%= link_to "tweetito", root_path %>
		<% end %>
	</nav>
	
	<main>
		<%= yield %>
	</main>

	<footer>
		<em>Crafted w/&hearts; by <%= link_to "Greg", "https://github.com/gregRV" %></em>
	</footer>
</body>
</html>
